.container, h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-1 {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px black solid;
    margin: 50px;
}