<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Edit</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <h2> Edit Recipe</h2>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <li class="nav-item">
                <a href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="/logout">Logout</a>
            </li>
    </nav>
    <div class="col-md-3">
        {% for one in this_recipe %}
        <form action="/recipes/update/{{ one.id }}" method="POST">
            <label for="name" class="form-label">Name:</label>
            <input type="text" name="name" class="form-control" value="{{ one.name }}">
            <br>
            <label for="description" class="form-label">Description:</label>
            <input type="text" name="description" class="form-control" value="{{ one.description }}">
            <br>
            <label for="instructions" class="form-label">Instructions:</label>
            <textarea class="form-control" name="instructions" class="form-control">{{ one.instructions }}</textarea>
            <br>
            <label for="date_made" class="form-label">Date Made:</label>
            <input type="date" name="date_made" class="form-control" value="{{ one.date_made.strftime('%Y-%m-%d') }}"> 
            <br>
            <label for="date_made" class="form-label">Under 30 min:</label>
            <br>
            <input type="radio" name="cook_time" id="1" value="1">
            <label for="1">Yes</label>
            <input type="radio" name="cook_time" id="0" value="0">
            <label for="0">No</label>
            <br>
            <br>
            <br>
            <input type="submit" value="Update" class="btn btn-primary">
            <br>
            {% with messages = get_flashed_messages(category_filter=['recipe']) %}
                {% if messages %}
                    <div class="alert alert-primary" role="alert">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </form>
        {% endfor %}
    </div>
</body>
</html>